@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body, html {
  height: 100%;
}

section {
  height: 100vh;
  width: 100%;
  padding: 20px;
}

#header {
  background-image: url(../images/central-park.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
}

.menu-button {
  float: right;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hello h1 {
  color: white;
}

#about h1 {
  color: #5C7080;
}
